span.not-show {display: none;}

h6{
	font-size: 12pt;
	font-family: Consolas,"MS Gothic";
	color:rgb(230,230,230);
	text-align:center;
	font-weight:normal;
	margin-top: 7px;
	margin-bottom: 7px;
}
h6 a{
	color: rgb(230,230,230) !important;
	text-decoration: none;
}

h5{
	font-size: 12pt;
	font-family: Consolas,"MS Gothic";
	color:rgb(230,230,230);
	text-align:left;
	font-weight:normal;
	margin-top: 3px;
	margin-bottom: 3px;
}

.min-lv, .max-lv{
	width: 70px;
	background: transparent;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 1px solid rgb(230,230,230);
	color: rgb(230,230,230);
}
.min-lv option, .max-lv option{
	background-color:black;
}

.ck-button span {
	text-align: center;
	border-radius: 3px;
	border: 1px solid rgb(64,64,64);
	cursor: pointer;
	width: 90px;
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: -2px 0px 8px rgba(0,0,0,0.7),2px 0px 8px rgba(0,0,0,0.7);
}
.ck-button input {display: none;}

.ck-MAX span:hover{background-color: hsl(20, 80%, 20%);}
.ck-MAX input:checked + span {background-color: hsl(20, 80%, 60%);}
.ck-MAX input:checked:hover + span{background-color: hsl(20, 80%, 70%);}

.ck-AAA span:hover{background-color: hsl(45, 70%, 18%);}
.ck-AAA input:checked + span {background-color: hsl(45, 70%, 55%);}
.ck-AAA input:checked:hover + span{background-color: hsl(45, 70%, 65%);}

.ck-AA span:hover{background-color: hsl(180, 30%, 23%);}
.ck-AA input:checked + span {background-color: hsl(180, 30%, 60%);}
.ck-AA input:checked:hover + span{background-color: hsl(180, 30%, 70%);}

.ck-A span:hover{background-color: hsl(210, 40%, 20%);}
.ck-A input:checked + span {background-color: hsl(210, 40%, 50%);}
.ck-A input:checked:hover + span{background-color: hsl(210, 40%, 60%);}

.ck-BF span:hover{background-color: hsl(0, 0%, 25%);}
.ck-BF input:checked + span {background-color: hsl(0, 0%, 40%);}
.ck-BF input:checked:hover + span{background-color: hsl(0, 0%, 50%);}

.ck-FC span:hover{background-color: hsl(330, 90%, 20%);}
.ck-FC input:checked + span {background-color: hsl(330, 90%, 65%);}
.ck-FC input:checked:hover + span{background-color: hsl(330, 90%, 75%);}

.ck-HC span:hover{background-color: hsl(260, 10%, 30%);}
.ck-HC input:checked + span {background-color: hsl(260, 10%, 70%);}
.ck-HC input:checked:hover + span{background-color: hsl(260, 10%, 80%);}

.ck-CL span:hover{background-color: hsl(35, 75%, 20%);}
.ck-CL input:checked + span {background-color: hsl(35, 75%, 55%);}
.ck-CL input:checked:hover + span{background-color: hsl(35, 75%, 65%);}

.ck-EC span:hover{background-color: hsl(90, 55%, 10%);}
.ck-EC input:checked + span {background-color: hsl(90, 55%, 40%);}
.ck-EC input:checked:hover + span{background-color: hsl(90, 55%, 50%);}

.ck-FA span:hover{background-color: hsl(0, 75%, 20%);}
.ck-FA input:checked + span {background-color: hsl(0, 75%, 35%);}
.ck-FA input:checked:hover + span{background-color: hsl(0, 75%, 45%);}

.ck-NO span:hover{background-color: hsl(0, 0%, 25%);}
.ck-NO input:checked + span {background-color: hsl(0, 0%, 40%);}
.ck-NO input:checked:hover + span{background-color: hsl(0, 0%, 50%);}


table{
	font-size: 10pt;
	font-family: Consolas,"MS Gothic";
	border-collapse: seperate;
	border-spacing: 0px 1px;
	display: inline-block;
	table-layout: fixed;
	line-height: 20px;
	margin-bottom: 5px;
	background: black;
}
table thead tr th{
	background-color: rgb(64,64,64);
	color: rgb(230,230,230);
	font-weight: normal;
	border: 0px;
	padding:0 0 0 0;
	text-align: center;
}
table tbody tr td{
	background-color: black;
	color: rgb(230,230,230);
	border-top: 1px solid rgb(64,64,64);
	border-bottom: 1px solid rgb(64,64,64);
	border-left: 0px;
	border-right: 0px;
	padding:0 0 0 0;
	text-align: center;
}

th.player{cursor: pointer;}

.th-level, .td-level{width: 70px;}
.th-title, .td-title{width: 513px;}
.th-name, .td-name{width: 105px;}
.th-lamp, .td-lamp{width: 8px;}
.th-bp, .td-bp{width: 50px;}
.th-bpdiff, .td-bpdiff{width: 50px;}
.th-score, .td-score{width: 125px;}
.th-scorediff, .td-scorediff{width: 50px;}
.th-ranking, .td-ranking{width: 55px;}
.th-playedN, .td-playedN{width: 55px;}

th.leftborder{border-left: 1px solid black;}
th.rightborder{border-right: 1px solid black;}
td.leftborder, th.leftborder2{border-left: 1px solid rgb(64,64,64);}
td.rightborder, th.rightborder2{border-right: 1px solid rgb(64,64,64);}

.td-title{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 513px;
}
.td-title a, .td-name a{
	color: rgb(230,230,230);
	text-decoration: none;
}
.td-pid {color: Khaki !important;}

.td-lamp.td-FC {
	background: hsl(330, 90%, 80%);
	background: linear-gradient(hsl(330, 90%, 80%),hsl(330, 90%, 85%),hsl(330, 90%, 80%));
}
.td-lamp.td-HC {
	background: hsl(260, 10%, 65%);
	background: linear-gradient(hsl(260, 10%, 75%),hsl(260, 10%, 90%),hsl(260, 10%, 75%));
}
.td-lamp.td-CL {
	background: hsl(35, 75%, 55%);
	background: linear-gradient(hsl(35, 75%, 55%),hsl(35, 75%, 65%),hsl(35, 75%, 55%));
}
.td-lamp.td-EC {
	background: hsl(90, 55%, 40%);
	background: linear-gradient(hsl(90, 55%, 40%),hsl(90, 55%, 50%),hsl(90, 55%, 40%));
}
.td-lamp.td-FA {
	background: hsl(0, 75%, 15%);
	background: linear-gradient(hsl(0, 75%, 15%),hsl(0, 75%, 22%),hsl(0, 75%, 15%));
}
.td-FC {border-color: hsl(330, 90%, 80%) !important;}
.td-HC {border-color: hsl(260, 10%, 70%) !important;}
.td-CL {border-color: hsl(35, 75%, 55%) !important;}
.td-EC {border-color: hsl(90, 55%, 40%) !important;}
.td-FA {border-color: hsl(0, 75%, 15%) !important;}

.td-bp0 {
	color: Gold;
	text-shadow: -2px 0px 8px Gold,2px 0px 8px Gold;
}

.td-WIN {color: rgb(160,160,255);}
.td-LOSE {color: rgb(255,160,160);}

.td-score{text-shadow: -2px 0px 8px rgba(0,0,0,0.7),2px 0px 8px rgba(0,0,0,0.7);}
.td-MAX{text-align: left;background: hsl(20, 80%, 60%);}
.td-AAA{text-align: left;background: hsl(45, 70%, 55%);}
.td-AA{text-align: left;background: hsl(180, 30%, 60%);}
.td-A{text-align: left;background: hsl(210, 40%, 50%);}
.td-BF{text-align: left;background: hsl(0, 0%, 40%);}

.td-TOP1 {
	color: Gold;
	text-shadow: -2px 0px 8px Gold,2px 0px 8px Gold;
}


.td-playedN0 {color: rgb(96,96,96);}
.td-playedN{cursor: pointer;}
.td-playedN:hover{background-color: rgb(40,40,40);}
.td-toggled:hover{background-color: rgb(96,96,96) !important;}
.td-toggled{background-color: rgb(64,64,64) !important;}


.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -240px;
	overflow: auto;
	visibility: hidden;
	width: 480px;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid rgb(64,64,64);
	text-align: center;
	border-radius: 6px;
	z-index: 1;
}
.ESC-button{
	font-size: 8pt;
	font-family: Consolas,"MS Gothic";
	background-color: rgb(64,64,64);
	color:rgb(168,168,168);
	text-align:right;
	font-weight:normal;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-right: 8px;
	cursor: pointer;
}
.ESC-button:hover{
	color: rgb(230,230,230);
	background-color: rgb(96,96,96);
}